.task-item {
  width: 22vw;
  background: #61b4c6;
  display: flex;
  font-size: 2.8rem;
  border-radius: 6px;
  height: 10vh;
  color: #fff;
  align-items: center;
  justify-content: center;
}
.content {
  display: inline-block;
  font-size: 2.8rem;
  border-radius: 6px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  user-select: none;
}
.adm-page-indicator-dot-active {
  background: #61b4c6;
}
.adm-swiper-track {
  margin-bottom: 4vh;
}
.adm-page-indicator {
  --dot-size: 16px;
  --active-dot-size: 46px;
  --dot-border-radius: 8px;
  --dot-spacing: 10px;
}
