.child-task {
  display: flex;
  height: 100%;
  flex-direction: column;
}
.arrow-left {
  position: fixed;
  top: 50%;
  left: 6vw;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}
.arrow-right {
  position: fixed;
  right: 6vw;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}
.task-content .task-item {
  cursor: pointer;
  width: 35vw;
  background: #61b4c6;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  font-size: 3rem;
  padding: 2rem;
  border-radius: 6px;
  color: #fff;
}
.content {
  display: inline-block;
  font-size: 2.8rem;
  border-radius: 6px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  user-select: none;
}
.adm-page-indicator-dot-active {
  background: #61b4c6;
}
.adm-swiper-track {
  margin-bottom: 4vh;
}
.adm-page-indicator {
  --dot-size: 16px;
  --active-dot-size: 46px;
  --dot-border-radius: 8px;
  --dot-spacing: 10px;
}
.child-task-return-box {
  text-align: center;
  font-size: 2.8rem;
  line-height: 4vh;
  width: 8vw;
  height: 6vh;
  background: #57626b;
  border: none;
  top: 50%;
  padding: 0 20px;
  transform: translateY(-50%);
}

.child-task-return-box.adm-button-block,
.child-task-home-btn.adm-button-block {
  width: fit-content;
}

.child-task-home-btn {
  text-align: center;
  font-size: 2.8rem;
  line-height: 4vh;
  padding: 0 20px;
  width: 8vw;
  height: 6vh;
  margin-left: 1vw;
  border: none;
  top: 50%;
  transform: translateY(-50%);
  background: #649c9d;
}
.child-task .return-box .return-text {
  text-align: left;
  font-size: 2.8rem;
  line-height: 4vh;
}
.child-task-title {
  text-align: left;
}
