.title-box {
}
.title-content {
  white-space: nowrap;
  width: max-content;
}
.animation-class {
  animation: roll 10s 0.3s linear infinite;
}
.animation-class::after {
  content: attr(data-title);
  padding: 0 5em;
}
@keyframes roll {
  to {
    transform: translate3d(-50%, 0, 0);
  }
}
.left-btn-box,
.middle-btn-box,
.right-btn-box {
  display: flex;
  height: 100%;
}
.left-btn-box .adm-button-block,
.middle-btn-box .adm-button-block,
.right-btn-box .adm-button-block {
  width: fit-content;
}
.btn-with-icon {
  display: flex;
  justify-content: center;
}
.btn-with-icon .btn-text {
  margin-left: 10px;
}
.right-btn-box .btn-with-icon .btn-text {
  margin-right: 10px;
}
.step-box-return-box {
  text-align: center;
  font-size: 2.6vh;
  line-height: 4vh;
  width: 8vw;
  height: 6vh;
  background: #57626b;
  border: none;
  top: 50%;
  padding: 0 20px;
  transform: translateY(-50%);
}
.step-box-home-btn {
  text-align: center;
  font-size: 2.6vh;
  line-height: 4vh;
  padding: 0 20px;
  width: 8vw;
  height: 6vh;
  margin-left: 1vw;
  border: none;
  top: 50%;
  transform: translateY(-50%);
  background: #649c9d;
}
.step-box-temporary-btn {
  text-align: center;
  padding: 0 20px;
  font-size: 2.6vh;
  line-height: 4vh;
  margin: 0 1vw;
  padding: 0 20px;
  height: 6vh;
  border: none;
  top: 50%;
  transform: translateY(-50%);
  background: #61b4c6;
}
.step-box-next-box {
  padding: 0 20px;
  text-align: center;
  font-size: 2.6vh;
  line-height: 4vh;
  padding: 0 20px;
  width: 10vw;
  height: 6vh;
  border: none;
  top: 50%;
  transform: translateY(-50%);
  background: #57626b;
  border: none;
}
.main-content-bottom {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
}
.main-content-bottom .step-item-list {
  padding: 2vh;
}
.step-item-list {
  width: 100%;
  padding-top: 5vh;
  padding: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.step-item-list .active-step-item .step-name-item {
  background: #61b4c6;
  color: #fff;
  box-shadow: 10px 10px 10px 0 rgba(84, 171, 191, 0.5);
}
.step-item-list .active-step-item .circle-item {
  background: #61b4c6;
  color: #fff;
  box-shadow: 4px 4px 10px 0 rgba(84, 171, 191, 1),
    6px 6px 10px 0 rgba(255, 255, 255, 1);
}
.step-item-list .pass-step-item .step-name-item {
  background: #75c4cb;
  color: #12242b;
  box-shadow: 10px 10px 10px 0 rgba(82, 169, 194, 1);
}
.step-item-list .pass-step-item .circle-item {
  background: #75c4cb;
  color: #12242b;
  box-shadow: 4px 4px 10px 0 rgba(84, 171, 191, 1),
    6px 6px 10px 0 rgba(255, 255, 255, 1);
}

.get-number-btn {
  width: 12vw;
  height: 6vh;
  background: #61b4c6;
  border: none;
}
.step-box .middle-box {
  width: 16vw;
  height: 6vh;
  background: #61b4c6;
  border: none;
}
.step-box .primary-box {
  height: 6vh;
  background: #61b4c6;
  border: none;
}
.text-align-left {
  text-align: left;
}
.font-size-46 {
  font-size: 4.3vh;
}
.font-size-28 {
  font-size: 2.6vh;
}
.phone-input-label {
  font-size: 4.3vh;
  text-align: left;
}
.step-box .phone-input,
.step-box .adm-input,
.step-box .adm-input-element {
  height: 100%;
  border: solid 1px #61b4c6;
  border-radius: 6px;
}
.step-box .adm-input-element {
  padding-left: 2.8vh;
  font-size: 2.6vh;
}
.complete-text {
  width: 100%;
  text-align: center;
  font-size: 4.4vh;
  height: 100%;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
.number-key-board-content {
  outline: solid 4px #61b4c6;
}
.adm-modal-body {
  max-height: 80vh;
}
.text-align-center {
  text-align: center;
}
.step-item-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.id-card-img {
  margin-top: 2vh;
}
.step-item-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
}
.step-item-info .id-card-info,
.step-item-info .phone-info {
  display: flex;
  font-size: 4.4vh;
  justify-content: center;
  align-items: center;
}
.step-item-info .action-box {
  font-size: 1.9vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.step-item-info .link-btn {
  font-size: 2.6vh;
  color: rgb(80, 167, 194);
  cursor: pointer;
  margin-left: 10px;
}
