.adm-form {
  border: none !important;
  --border-top: none !important;
  --border-bottom: none !important;
}
.adm-list-item-content {
  border-bottom: solid 2px #61b4c6;
  border-top: none !important;
  margin-top: 1.8vh;
}
.adm-list-item-content-prefix {
  width: 3vw;
}
.adm-input-element {
  font-size: 3vh;
  font-weight: normal;
  color: #333;
}
.adm-list-item-content-main {
  padding: 1vw 1.8vh;
}
.adm-form-item.adm-form-item-horizontal .adm-list-item-content-prefix {
  padding: 1.8vh 0;
}
.adm-form-item-label {
  text-align: left;
}
.adm-form-item-feedback-error {
  text-align: left;
}
.login-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.form-box {
  position: relative;
  padding: 1.8vh 1vw 5.3vh 1vw;
  padding-top: 1vh;
  border-radius: 1.5rem;
  border: solid 2px #61b4c6;
}
.user-icon,
.user-password {
  width: 1.8vw;
}
