html {
  /* rem em */
  /*em 相对于父元素的font-size*/
  /*rem 相对于根元素html的font-size, r就是root的意思*/
  /*16 * 62.5% = 10px*/
  /*1rem === 10px*/
  font-size: 62.5%;
}
body {
  margin: 0;
}
body,
div,
ul,
ol,
ul,
li,
ol,
dl,
dd,
dt,
form,
span,
p,
textarea {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  outline-style: none;
  color: #000;
  text-decoration: none;
}
/*viewport height === vh*/
html body #root .App {
  display: flex;
  min-height: 100vh;
}
.adm-dialog-body {
  border: solid 2px #61b4c6;
  border-radius: 6px;
}
.dialog-content-box {
  display: flex;
  flex-direction: column;
  padding: 30px 30px;
  font-size: 2rem;
  text-align: center;
  align-items: center;
}
.exit-icon {
  margin-left: 10px;
  cursor: pointer;
  float: right;
  margin-top: 0.4vh;
}
.adm-mask::before {
  content: "";
  position: absolute;
  top: -100px;
  left: -100px;
  right: -100px;
  bottom: -100px;
  opacity: 1;
  background-attachment: fixed;
  filter: blur(10px);
  z-index: 1;
}

.adm-mask::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.5);
  z-index: 2;
}
.ant-menu-item {
  padding-inline: 0 !important;
  padding-right: 140px !important;
}
