html {
  /* rem em */
  /*em 相对于父元素的font-size*/
  /*rem 相对于根元素html的font-size, r就是root的意思*/
  /*16 * 62.5% = 10px*/
  /*1rem === 10px*/
  font-size: 62.5%;
}

/*viewport height === vh*/
html body #root .App {
  min-height: 100vh;
}
.adm-dialog-body {
  border: solid 2px #61b4c6;
  border-radius: 6px;
}
.dialog-content-box {
  display: flex;
  flex-direction: column;
  padding: 30px 30px;
  font-size: 2rem;
  text-align: center;
  align-items: center;
}
