.serverData-num-box {
  width: 1200px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 4px 15px 1px rgba(0, 0, 0, 0.06);
  position: relative;
  top: -64px;
}
.serverData-num-box .nav-item-list {
  display: flex;
}

.serverData-num-box .nav-item {
  flex: 1 1;
  margin: 30px 0 30px 0;
  width: 240px;
  color: #21468c;
  border-right: 1px solid #e3e3e3;
  text-align: center;
}
.serverData-num-box .serverData-firstRemark {
  font-size: 30px;
  font-weight: bold;
  color: #0772ed;
}
.serverData-num-box .serverData-secondRemark {
  font-size: 14px;
  color: #0772ed;
}
.serverData-num-box p {
  font-size: 14px;
  color: #060a10;
  font-weight: 400;
  margin-top: 20px;
}
